/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
	line-height: 1.5;
}
img{
	width: 100%;
	height: auto;
	vertical-align: middle;
}

*,*:before,*:after{
	box-sizing: border-box;
}
.white{
    color: #FFFFFF;
}
.bgBlack{
    background-color: #000000;
}
.mb1{
    margin-bottom: 4px;
}
.mb2{
    margin-bottom: 8px;
}
.mb3{
    margin-bottom: 12px;
}
.mb4{
    margin-bottom: 16px;
}
.mb6{
    margin-bottom: 24px;
}
.mb7{
    margin-bottom: 28px;
}
.mb8{
    margin-bottom: 32px;
}
.mb10{
    margin-bottom: 40px;
}
.mb12{
    margin-bottom: 48px;
}
.text-alignC{
text-align: center;
}
.text-chinese{
    font-size: 20px;
    line-height: 30px;
    font-family:Roboto, Medium Italic;
    text-align: center;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.hander{
    max-width: 100vw;
    height: 100vh;
    background: url("image/banner.png") center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.title{
    width: 304px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    font-size: 24px;
    font-family: Roboto, Bold Italic;
    line-height: 32px;
}
.title h1{
    font-size: 80px;
    line-height: 106px;
    font-family: Roboto, Bold Italic;
}
.title span{
    margin-top: 32px;
    font-size: 24px;
    line-height: 1.5;
}
.hander ul{
    margin-top: 40px;
    display: flex;
}
.hander ul li{
    margin-left: 8px;
    margin-right: 8px;
}
.about{
    padding-top: 56px;
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    font-family: Roboto, Medium Italic;
    font-size: 64px;
    line-height: 84px;
    text-align: center;
}
.about img{
    width: 384px;
    margin-bottom: 20px;
}
.line{
    width: 384px;
    border: 1px solid #000;

}
.about ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dots{
    width: 22px;
    height: 22px;
    background-color: #891818;
    border-radius: 999em;
    margin-right: 16px;
}

.brand{
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic01{
    width: 792px;
    margin-top: 68px;
}
.item{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 160px;
}
.item img{
    width: 588px;
}
.works{
    margin-top: 56px;
    margin-bottom: 144px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.worksPic{
    margin-top: 56px;
}
.worksPic ul li{
    display: flex;
    justify-content: space-between;
}

.footer {
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    justify-content: center;
}
.footer ul{
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.footer ul li{
    font-size: 24px;
    line-height: 1.5;
    font-family: Roboto, Medium Italic;
}

.footer ul li a{
    text-decoration: none;
}
}
